.jof-contact-us {

  &__sect-1 {
    // background-color: $color-grey-light-1;
    // border-radius: 8px;

    margin-bottom: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;

    @include respond(md) {
      padding-bottom: 2rem;
    }

    &-header {
        margin-bottom: 2rem;
        text-align: center;
    }

    &-img-2 {
        border-bottom: 6rem outset $color-primary;
        margin-left: 3rem;

        @include respond(sm) {
            margin-left: 0;
        }
    }
  }
}
