*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(l) { // width > 992?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(xl) { // width > 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    
    @include respond(xxl) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 7rem 1rem;

    @include respond(sm) {
        padding: 9rem 1.5rem;
    }
}

a {
    text-decoration: none;
    color: rgba($color-black, .6);
}

// The ::selection CSS pseudo-element applies styles to the part of a 
// document that has been highlighted by the user 
// (such as clicking and dragging the mouse across text).
::selection {
    background-color: $color-primary;
    color: $color-white;
}