.jof-header-nav-container {
    background-color: $color-grey-light-1;
    box-shadow: 2px 1px 2px rgba($color-black, .4);
}

.jof-header-nav {

    @include respond(md) {
        display: none;
    }
    
    &__active {
        border-bottom: 5px solid $color-primary;
    }

    a {      
        font-size: 2rem;
        // color: $color-secondary-dark;
        margin-left: 3rem;
    }

    a:hover {      
       
        color: $color-primary;      
    }



}