.jof-our-services-header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
        to left bottom,
        rgba($color-black, 0.5),
        rgba($color-black, 0.5)
      ),
      url(../../public/img/bpl-21.jpg);
    background-size: cover;
    background-position: bottom;
  
    @include respond(sm) {
      height: 55vh;
    }
  
    &__row {
      position: absolute;
      top: 10%;
      left: 10%;
      transform: translate(-10%, -10%);
  
    }
  
    &__text-main {
      margin-left: 1rem;
      text-align: center;
  
      @include respond(sm) {
        text-align: initial;
      }
    }
  }
  